.Product{
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid gray;
    margin-bottom: 20px;
    position: relative;
    &-Delete{
        position: absolute;
        right: 10px;
        top: 5px;
        border: 1px solid black;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    &-Delete:hover{
        background-color: rgb(158, 158, 158);
        border-color: rgb(158, 158, 158);
    }
    &-ReadMore{
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        left: 40%;
    }
    &-description{
        position: absolute;
        top: 34%;
        right: 3px;
    }
}