*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Post-Header{
    margin-top: 10px;
}
.Post{
    max-width: 1142px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Post-Footer {
    margin-top: 10px;
}
.Post-Footer button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}