.Text {
	font-family: 'Courier New', Courier, monospace;
	line-height: 1.6;
	font-weight: 600;

	&_dark {
		background-color: #111;
		color: #fff;
		padding: 1rem;
	}

	&_light {
		background-color: #ccc;
		color: #111;
		padding: 1rem;
	}
}